.gnbList {
  display: flex;
  align-items: center;
  gap: 12px;
  }
.gnbList  li {
  width: 284px;
  padding: 44px 48px 31px;
}
.gnbList li a {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 32px;
  color: rgba(18, 18, 18, 0.5);
  font-weight: 700;
  text-align: center;
}
.gnbList li.active a {
  color: #121212;
}
.gnbList li.active a:after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 31px;
  transform: translateX(-50%);
  width: 100%;
  height: 5px;
  border-radius: 14px;
  background: #121212;
}
.dark .gnbList li a { color: rgba(18, 18, 18, 0.5); }
.dark .gnbList li.active a { color: #121212; }
.dark .gnbList li.active a:after { background: #121212; }
.light .gnbList li a { color: rgba(251, 251, 251, 0.5); }
.light .gnbList li.active a { color: #FBFBFB; }
.light .gnbList li.active a:after { background: #FBFBFB; }